# TODO: Update with exact module version
numpy
torch>=1.7
opencv_python
loguru
scikit-image
tqdm
torchvision
Pillow
thop
ninja
tabulate
tensorboard
plyfile
mmcv
seaborn

# https://github.com/Megvii-BaseDetection/YOLOX/blob/618fd8c08b2bc5fac9ffbb19a3b7e039ea0d5b9a/requirements.txt#L16-L18
onnx>=1.13.0
onnx-simplifier==0.4.10
pycocotools>=2.0.2

onnxruntime>=0.14.1
